page-about {
  .title {
    background: transparent;
  }

  #welcome {
    // background: color($colors, energy);
    h3 {
      text-align: center;
    }
    .logo {
      text-align: center;
      height: 100px;
    }
    .btnLogout {
      margin-top: 20px;
    }
    .scroll-content {
      overflow-y: auto;
    }
  }
}
